body {
  --mapHeight: 82.5vh;
  --commentBorderColor: #4986CC;
}
body[scheme="space_gray"] {
  --commentBorderColor: #FFFFFF;
}
.panel {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1 px solid black;
}
#map {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: var(--mapHeight);
  position: fixed;
  overflow: hidden;
}
#modalDiv {
  margin-top: 0px;
  padding: 0px;
}
#description {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}
#rowTabs {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
}
.popupHeader {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}
.markerOwner {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.userPhoto {
  padding: 0px;
}
.userName {
  padding: 0px 0px 0px 15px;
}
.markerDescription {
  padding: 0px 0px;
  margin: 0px;
}
.markerCommentCell, .commentsDiv, .commentCell, .commentInfo, .commentOwnerCell, .commentOwner, .commentUserName, .commentOwner, .commentInput, .markerCommentsHeader, .markerOwner, .markerOwnerCell, .counter, .userStack, .markerInfo, .removeButtonDiv, #removeButton, .card, .cardInfo{
  padding: 0px;
  margin: 0px;
}
.commentDescription {
  padding: 0px 12px;
  margin: 0px;
}
.commentInputDiv {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-flow: nowrap;
}
.commentInput {
  width: 77%;
}
.commentButton {
  width: 20%;
  height: 44px;
}
.commentsDiv {
  height: 105px;
  overflow: hidden;
  margin-bottom: 10px;
}
.commentInfo {
  width: 98%;
  height: 100px;
  border: 1px solid var(--commentBorderColor);
  border-radius: 5px;
}